<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Панель администратора</title>
</head>
<body>
<h1>Добро пожаловать на административную страницу сайта: <a th:text="${#authentication.name}"></a>!</h1>
<div th:switch="${allUsers}">
  <h2 th:case="null">Не найдено лиц!</h2>
  <div th:case="*" >
    <table border="1" width="100%">
      <thead>
      <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Email</th>
        <th>Пароль</th>
        <th>Роль доступа</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${allUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.email}"></td>
         <td th:text="${user.password}"></td>
        <td>
          <ul>
            <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
          </ul>
        </td>
        <td><button><a th:href="@{admin/{id}(id=${user.id})}">Delete</a></button></td>
        <td><button><a th:href="@{admin/edit/{id}(id=${user.id})}">Edit</a></button></td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

<br>
<div class="float" sec:authorize="isAuthenticated()">
  <form  th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти">
  </form>
</div>
<div class="float" sec:authorize ="!isAuthenticated()">
  <form  th:action="@{/login}" method="post">
    <input type="submit" value="Авторизоваться">
  </form>
  <form  th:action="@{/registration}" method="post">
    <input type="submit" value="Зарегистрироваться">
  </form>
</div>
</div>
<br>
<br>
<br>
<a href="/new">Создать нового пользователя</a>
</body>
</html>