<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>Редактирование данных пользователя</title>
</head>
<body>
<h1>Вы на странице редактирования выбранного пользователя</a></h1>
<form action="#" th:action="@{/admin/edit}" th:object="${user}" method="post">
  <label for="id">ID</label>
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <br/>
  <label for="username">Имя</label>
  <input type="text" th:field="*{username}" id="username" placeholder="Username">
  <br/>
  <label for="surname">Фамилия</label>
  <input type="text" th:field="*{surname}" id="surname" placeholder="Surname">
  <br/>
  <label for="age">Возраст</label>
  <input type="text" th:field="*{age}" id="age" placeholder="Age">
  <br/>
  <label for="email">Email</label>
  <input type="text" th:field="*{email}" id="email" placeholder="Email">
  <br/>
  <label for="password">Пароль</label>
  <input type="text" th:field="*{password}" id="password" placeholder="Password">
  <br/>

  <label for="roleId" >Роль</label>
  <select class="form-control multi-select" th:multiple="multiple" th:name="roles" id="roleId"
          >
    <option th:each="role : ${roles}"
            th:value="${role.id}"
            th:text="${role.id} + ' ' + ${role.name}"
            th:selected="${role.id} == ${id}"
    />

  </select>


  <br/>

  <input type="submit" value="Внести изменения">
  <a href="/admin">Отмена</a>
  <br>

</form>

</body>
</html>