<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Создание нового пользователя</title>
</head>
<body>
<h1>Добро пожаловать на страницу создания пользователя!</h1>
<div>
    <form th:method="POST" th:action="@{/admin/new}" th:object="${userForm}">
        <label for="username">Введите имя: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}"
             th:errors="*{username}">text error</div>
        </br>
        <label for="surname">Введите фамилию: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <div style="color: red" th:if="${#fields.hasErrors('surname')}"
             th:errors="*{surname}">text error</div>
        </br>
        <label for="age">Введите возраст: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}"
             th:errors="*{age}">text error</div>
        </br>
        <label for="email">Введите email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}">text error</div>
        </br>
        <label for="password">Введите пароль: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}">text error</div>
        </br>
        </br>
        <label for="roleId" >Роль</label>
        <select class="form-control multi-select" th:multiple="multiple" th:name="roles" id="roleId">
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:text="${role.id} + ' ' + ${role.name}"
                    th:selected="${role.id} == ${id}"/>
        </select>
        </br>
        </br>
        <input type="submit" value="Создать!"/>
    </form>
    </br></br>
    <a href="/admin">Главная</a>
</div>
</body>
</html>