<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>User page</title>
</head>

<body>
<nav class="navbar sticky-top navbar-dark bg-dark " style="height: 40px;">
    <p class="text-left text-white">
        <a class="font-weight-bold" id="autUser"></a>
        <a class="font-weight-normal">with roles:</a>
        <a class="font-weight-normal" id="autRoles"></a>
    </p>
    <p class="text-right text-white">
        <a class="text-secondary" href="/login">Logout</a>
    </p>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div authorize="hasRole('ROLE_ADMIN')">
                <button type="button" class="btn btn-white text-left text-primary" style="width: 100%;">
                    <a href="/admin">Admin</a> </span>
                </button>
            </div>
            <button type="button" class="btn btn-primary text-left" style="width: 100%;">
                User </span>
            </button>
        </div>
        <div class="col-md-10">
            <h3>User information-page</h3>
            <div class="card" style="width: 100%;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item font-weight-bold" style="background-color: #eeeeee">About user</li>
                    <li class="list-group-item">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Email</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="data">

                            </tbody>
                        </table>

                        <br>

                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="user.js">

</script>
</body>

</html>